.contact-page {
  min-height: 100vh;
  width: 100%;
  background: #1c1a46;
  &-back {
    height: 38px;
    width: 38px;
    background: transparent;
    display: flex;
    justify-content: center;
    > img {
      height: 100%;
      background-color: transparent;
      border-radius: 50%;
    }
  }
  > header {
    transform: translateY(-40px);
    opacity: 0;
    margin: 0 7vw;
    padding-top: 13px;
    height: 93px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > img {
      background: transparent;
    }
  }
  > main {
    transform: translateY(60px);
    opacity: 0;
    margin: 0 7vw;
    padding-bottom: 50px;
    min-height: 600px;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 7px;
    > section {
      grid-column: 2/6;
      background: transparent;
      color: #fafafa;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > article {
        background: transparent;
        margin-top: 20px;
        > h1 {
          background: transparent;
          font-weight: 600;
          font-size: 2.7rem;
        }
        > p {
          font-size: 1.1rem;
          margin-top: 10px;
          background: transparent;
          font-weight: 300;
          color: #e7e5fd93;
        }
      }

      > div {
        background: transparent;
        display: flex;
        align-items: center;
        > img {
          background: transparent;
        }
        > h2 {
          background: transparent;
          margin-left: 25px;
          font-weight: 400;
        }
      }

      > nav {
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        > a {
          height: 45px;
          width: 45px;
          background: transparent;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          > img {
            background: transparent;
            height: 50%;
          }
          &:hover {
            background: #5e4fe9;
          }
          transition: 300ms all ease;
        }
      }
    }
    > form {
      grid-column: 8/-1;
      border-radius: 50px;
      background: #fafafa;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > div {
        background: transparent;
        display: flex;
        flex-direction: column;
        > p {
          color: rgb(216, 0, 0);
          font-size: 0.8rem;
        }
        > label {
          background: transparent;
          color: #1c1a46;
          font-weight: 500;
        }
        > div {
          position: relative;
          width: calc(100% - 20px);
          border: 2px solid #d1d1d1;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 10px;
          &:focus {
            border: 2px solid red;
          }

          > input {
            width: 100%;
            margin-left: 10px;
            font-size: 1rem;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }

        > textarea {
          padding: 10px;
          width: calc(100% - 20px);
          margin-top: 5px;
          font-size: 1rem;
          border: none;
          background: #ebebeb;
          border-radius: 5px;
          resize: none;
          &:focus {
            outline: none;
          }
        }
      }
      > button {
        background: #5e4fea;
        border: none;
        color: #fafafa;
        padding: 13px 45px;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 300px;
        width: fit-content;
        align-self: center;
        cursor: pointer;
        transition: background 300ms;
        &:hover {
          background: #1c1a46;
        }
      }
    }
  }
  &-medium {
    width: 55%;
  }
}

@media all and (max-width: 1050px) {
  .contact-page {
    > main {
      > section {
        grid-column: 1/6;
        > article {
          > h1 {
            font-size: 2.5rem;
          }
          > p {
            font-size: 0.9rem;
          }
        }
        > div {
          > img {
            height: 70%;
          }
          > h2 {
            font-size: 1.2rem;
          }
        }
      }
      > form {
        grid-column: 7/-1;
        > button {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media all and (max-width: 730px) {
  .contact-page {
    > main {
      > section {
        justify-content: center;
        align-items: center;
        grid-column: 3/-3;
        > article {
          padding: 20px 0;
          text-align: center;
          > h1 {
            font-size: 2.5rem;
          }
          > p {
            font-size: 0.9rem;
          }
        }
        > div {
          padding: 20px;
          > img {
            height: 70%;
          }
          > h2 {
            font-size: 1.2rem;
          }
        }
        > nav {
          padding: 20px;
          padding-bottom: 50px;
        }
      }
      > form {
        grid-column: 3/-3;
        > button {
          padding: 13px 45px;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media all and (max-width: 570px) {
  .contact-page {
    > main {
      > section {
        grid-column: 2/-2;
      }
      > form {
        grid-column: 2/-2;
        > div {
          margin-bottom: 20px;
        }
        > button {
          margin-top: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 460px) {
  .contact-page {
    > main {
      > section {
        grid-column: 1/-1;
      }
      > form {
        grid-column: 1/-1;
      }
    }
  }
}

@media all and (max-width: 380px) {
  .contact-page {
    > main {
      > section {
        > article {
          > h1 {
            font-size: 2rem;
          }
          > p {
            font-size: 0.8rem;
          }
        }
        > div {
          > h2 {
            font-size: 1rem;
          }
        }
        > nav {
          > a {
            height: 40px;
            width: 40px;
          }
        }
      }
      > form {
        > div {
          > p {
            font-size: 0.8rem;
          }
          > div {
            > img {
              height: 15px;
            }
            > input {
              font-size: 0.8rem;
            }
          }

          > textarea {
            font-size: 0.8rem;
          }
        }
        > button {
          white-space: nowrap;
          font-size: 1.2rem;
          padding: 13px 35px;
        }
      }
    }
  }
} ;
