.home {
  margin: 0 7vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1vw;
  position: relative;
  padding-bottom: 6vw;

  &-circle-one {
    z-index: 10;
    position: absolute;
    bottom: -13vw;
    left: -13vw;
    grid-row: 2;
    height: 26vw;
    width: 26vw;
    background: #d0cbff;
    border-radius: 100%;
  }
  &-circle-two {
    z-index: 10;
    position: absolute;
    bottom: 24vw;
    left: -15vw;
    grid-row: 2;
    height: 14vw;
    width: 14vw;
    background: #d0cbff;
    border-radius: 100%;
  }
  &-circle-three {
    z-index: 10;
    position: absolute;
    bottom: -9vw;
    left: 80vw;
    grid-row: 2;
    height: 18vw;
    width: 18vw;
    background: #d0cbff;
    border-radius: 100%;
  }

  &-hero {
    grid-column: 2 / 7;
    margin-top: 100px;
    &-subtitle {
      font-weight: 500;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      color: #5f5b9f;
      margin-bottom: 20px;
    }
    &-description {
      font-size: 2.6rem;
      font-weight: 600;
      color: #42406c;
      &.keyword {
        color: #5e4fea;
      }
    }
    &-action {
      position: relative;
      margin-top: 45px;
      &-link {
        background: #5e4fea;
        color: #fafafa;
        width: fit-content;
        padding: 13px 45px;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 300px;
        cursor: pointer;
        transition: background 300ms;
        &:hover {
          background: #1c1a46;
        }
      }
    }
  }
  &-graphic {
    grid-column: 7/-1;
    background: transparent;
    > img {
      margin-top: 21px;
      margin-bottom: -50px;
      height: 85%;
      width: 100%;
    }
  }
}

@media all and (min-width: 1650px) {
  .home {
    padding-bottom: 0;
    margin-top: 50px;
    &-hero {
      margin-top: 130px;
      grid-column: 2/6;
      &-subtitle {
        font-size: 1.8rem;
      }
      &-description {
        font-size: 3rem;
      }
      &-action {
        font-size: 2.2rem;
      }
    }
  }
}

@media all and (min-width: 1300px) {
  .home {
    padding-bottom: 25px;
  }
}

@media all and (max-width: 1105px) {
  .home {
    padding-bottom: 100px;
    &-circle-two {
      left: -16vw;
    }
    &-circle-three {
      left: 83vw;
    }
    &-hero {
      margin-top: 110px;
      grid-column: 1/7;
    }
    &-graphic {
      grid-column: 7/-1;

      > img {
        transform: translateY(20px);
        margin-top: 30px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
      }
    }
  }
}

@media all and (max-width: 925px) {
  .home {
    grid-template-rows: auto;
    &-circle-one {
      bottom: -20vw;
      left: -20vw;
      height: 40vw;
      width: 40vw;
    }
    &-circle-two {
      bottom: 82vw;
      left: -25vw;
      height: 32vw;
      width: 32vw;
    }
    &-circle-three {
      bottom: -12vw;
      left: 80vw;
      height: 30vw;
      width: 30vw;
    }
    &-hero {
      margin-top: 110px;
      grid-column: 3/-3;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-graphic {
      grid-column: 2/-2;
      margin-top: 30px;
    }
  }
}

@media all and (max-width: 700px) {
  .home {
    &-hero {
      grid-column: 2/-2;
    }
  }
}

@media all and (max-width: 650px) {
  .home {
    &-circle-two {
      bottom: 52vw;
    }
    &-hero {
      grid-column: 1/-1;
    }
    &-graphic {
      grid-column: 1/-1;
    }
  }
}

@media all and (max-width: 590px) {
  .home {
    &-circle-one {
      left: 130vh;
    }
    &-circle-two {
      left: 130%;
    }
    &-circle-three {
      left: 130%;
    }
  }
}

@media all and (max-width: 500px) {
  .home {
    &-hero {
      margin-top: 30px;
      &-subtitle {
        font-size: 1rem;
      }
      &-description {
        font-size: 2.1rem;
      }
      &-action-link {
        font-size: 1.5rem;
      }
    }
  }
}
