* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #fafafa;
}

html {
  overflow-x: hidden;
  height: auto;
}

body {
  overflow-x: hidden;
  // ---------------------------------
  // Remove second vertical scrollbar
  overflow-y: hidden;
  // ---------------------------------
  height: auto;
}

body.lock-scroll {
  height: 100vh;
  overflow-y: hidden;
}
